mkdocs>=1.2.3
mkdocs-bootswatch>=1.1
python-jenkins>=0.4.10
mkdocs-material>=8.0.0b2
mkdocs-minify-plugin>=0.5.0
pygments>=2.10.0
pymdown-extensions>=9.1
Markdown>=3.3.6
mkdocs-git-revision-date-localized-plugin>=0.10.3
